/* El fondo del contenedor */
.video-parrafo {
    background-color: nth($color-list, 7);
    margin: 10px 0;

    /* Un margin para el video */
    .video-conciencia {
        margin: 30px 0px;

        /* Redondeo de bordes y color del border */
        video {
            border-radius: 20px;

            /* Mobile */
            @media screen and (max-width: 576px) and (max-width: 992px) {
                width: 100%;
            }
        }
    }

    /* El tamaño, la tipografía y el padding del párrafo que va al lado del vídeo */
    .link-conciencia {
        width: 40%;
        font-family: nth($font-list, 2);
        justify-content: center;
        font-size: 1rem;
        margin: 30px 10px;

        /* Link para entrar en la sección conciencia global y una transición */
        a {
            @include parametros-display (center, row);
            text-align: center;
            @include parametros-font-color (nth($color-list, 1), nth($font-list, 2));
            text-decoration: none;
            text-shadow: 2px 1px nth($color-list , 2);
            margin: 20px 0;
            font-size: 1.5rem;
            letter-spacing: 3px;
            border: 1px solid nth($color-list , 1);
            border-radius: 10px;
            transition: all 0.3s ease-in-out;

            /* Al pasar el mouse sobre el link cambia de color */
            &:hover {
                background-color: nth($color-list, 1);
                color: nth($color-list, 4);
                font-size: 1.6rem;
            }
        }

        /* La alineación del texto */
        p {
            text-align: justify;
        }

        /* Mobile */
        @media screen and (max-width: 576px) {
            width: 100%;
            padding: 0 40px;
            font-size: 1rem;
        }

        /* Tablet */
        @media screen and (min-width: 576px) and (max-width: 992px) {
            width: 100%;
            padding: 0 80px;
            font-size: 1rem;
        }
    }
}

/* Mobile y Tablet */
@media screen and (max-width: 992px) {
    .video-parrafo {
        @include parametros-display (center, row);
        flex-wrap: wrap;
        align-self: center;
    }
}