/* Para simplificar cuando aparecen juntos */
@mixin parametros-display ($align, $direction) {
    display: flex;
    justify-content: $align;
    flex-direction: $direction;
}

/* Dos parametros que aparecen casi siempre juntos */
@mixin parametros-font-color ($color, $font) {
    color: $color;
    font-family: $font;
}